@keyframes fadeInAnm {
  0% {
    opacity: 0;
    bottom: 0;
    scale: 0.75;
  }
  100% {
    opacity: 1;
    bottom: 20px;
    scale: 1;
  }
}
@keyframes fadeInAnmPC {
  0% {
    opacity: 0;
    bottom: 0;
    scale: 0.75;
  }
  100% {
    opacity: 1;
    bottom: 30px;
    scale: 1;
  }
}

@keyframes clipIn {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes filter {
  0% {
    filter: saturate(1) brightness(1);
  }
  100% {
    filter: saturate(0) brightness(16);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes arrowAnm {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(-15px);
    opacity: 1;
  }
  15% {
    transform: translateY(-15px);
    opacity: 0;
  }
  20% {
    transform: translateY(15px);
    opacity: 0;
  }
  25% {
    transform: translateY(15px);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate3d {
  0% {
    transform: rotateX(0deg) rotateY(00deg) rotateZ(0deg);
  }

  10% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
}
