* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt" 1; // プロポーショナルメトリクスを有効化
  text-rendering: optimizeLegibility;
}
.label {
  font-size: 10px;
  line-height: 1;
}
