@import '_reset';
@import '_color';
@import '_typography';
@import '_layout';
@import '_effect';
@import '_component';
@import '_animation';

$whiteFilter: brightness(0) grayscale(1) invert(1);
.splash__section {
  background: $blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.8s ease-in-out;
  * {
    transition: all 0.8s ease-in-out;
  }
  &.load {
    .splash__logo {
      scale: 8;
      rotate: 240deg;
      @media (min-width: 768px) {
        scale: 13;
      }
    }
    h1 {
      clip-path: inset(0 100% 0 0);
    }
    .head__wrap {
      clip-path: inset(0 100% 0 0);
    }
  }
  .splash__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    scale: (0.3);
    transform-origin: left top;
    width: 50vw;
    @media (min-width: 768px) {
      width: 24vw;
    }
    img {
      animation: rotate 24s linear infinite;
      width: 100%;
    }
  }
  h1 {
    font-size: 10px;
    scale: 0.7;
    transform-origin: right bottom;
    color: $lightGray;
    opacity: 0.7;
    position: absolute;
    bottom: 20px;
    line-height: 1;
    font-weight: 500;
    right: 20px;
    clip-path: inset(0 0 0 0);
    clip-path: inset(0 100% 0 0);
    animation: clipIn 0.4s ease-in-out 0.8s forwards 1;
    @media (min-width: 768px) {
      animation: clipIn 0.8s ease-in-out 0.5s forwards 1;
    }
  }
  .head__wrap {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-flow: column;
    gap: 6px;
    clip-path: inset(0 0 0 0);

    &.skill__wrap {
      top: auto;
      bottom: 20px;
      gap: 0;

      .label__text {
        font-size: 10px;
        opacity: 0.7;
        scale: 0.6;
        line-height: 0.8;
        transform-origin: left;
        font-weight: 500;
        clip-path: inset(0 100% 0 0);
        animation: clipIn 0.4s ease-in-out 0.8s forwards 1;
        @media (min-width: 768px) {
          animation: clipIn 0.8s ease-in-out 0.5s forwards 1;
        }
      }
    }
    .label__text {
      font-size: 48px;
      line-height: 1;
      color: $lightGray;
      font-weight: 500;
    }
  }
}

.head__area {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  display: flex;
  flex-flow: column;
  gap: 12px;
  z-index: 99999;
  clip-path: inset(0 100% 0 0);
  animation: clipIn 0.4s ease-in-out 0.8s forwards 1;
  @include smp {
    width: calc(100% - 40px);
    left: 20px;
    top: 20px;
  }
  @media (min-width: 768px) {
    flex-flow: row;
    justify-content: space-between;
    gap: 36px;
    animation: clipIn 0.8s ease-in-out 0.5s forwards 1;
  }

  .logo__type {
    width: 100%;
    filter: $whiteFilter;
    @media (min-width: 768px) {
      width: 30%;
      min-width: 360px;
    }
    @media (min-width: 1024px) {
      width: 30%;
    }
  }
  .label__area {
    display: flex;
    filter: $whiteFilter;
    .label__text {
      font-size: 10px;
      width: 40%;
      color: $blue;
      line-height: 1.3;
      font-weight: 500;
      @media (min-width: 768px) {
        font-size: 10px;
        width: 160px;
      }
      @media (min-width: 1024px) {
        font-size: 12px;
        width: 240px;
      }
    }
    .small__mark {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      @media (min-width: 768px) {
        justify-content: flex-end;
        align-items: flex-start;
      }

      img {
        width: 20px;

        animation: rotate 16s linear infinite;
        @media (min-width: 768px) {
          width: 40px;
        }
      }
    }
  }
}
.brand__list {
  position: fixed;
  top: 50%;
  width: calc(100% - 40px);
  left: 20px;
  display: flex;
  overflow: hidden;
  z-index: 99;
  transform: translateY(-50%);
  @media (min-width: 768px) {
    left: 30px;
    width: calc(100% - 60px);
  }
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;

  .brand__list-inner {
    display: flex;
    gap: 20px;
    animation: scrollBrands 45s linear infinite;
    white-space: nowrap;
    padding-right: 20px;
    width: max-content;
    justify-content: space-between;

    p {
      color: $white;
      font-size: 10px;
      line-height: 1.3;
      font-weight: 500;
      letter-spacing: 0;
      scale: 0.8;
      width: fit-content;
      clip-path: inset(0 100% 0 0);
      animation: clipIn 0.3s ease-in-out forwards 1;

      @for $i from 1 through 33 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{4.5 + ($i * 0.1)}s;
        }
      }
      @media (min-width: 768px) {
        scale: 1;
      }
    }
  }
}

@keyframes scrollBrands {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33.33% - 10px));
  }
}

#musicPlayer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba($black, 0.2);
  padding: 4px;
  color: $blue;
  backdrop-filter: blur(4px);
  border: 1px solid rgba($white, 1);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  z-index: 1000;
  animation: fadeInAnm 0.6s ease-in-out 4.5s forwards 1;
  bottom: 0;
  scale: 0.75;
  opacity: 0;
  transform-style: preserve-3d;
  @media (min-width: 768px) {
    animation: fadeInAnmPC 0.6s ease-in-out 4.5s forwards 1;
    right: 30px;
  }
  @include pc_hover {
    &:hover {
      span {
        animation: rotate3d 3s ease-in-out 0s infinite;
      }
    }
  }
  span {
    width: 9px;
    transform-style: preserve-3d;
  }
}

#musicPlayer:hover {
  transform: scale(1.05);
}

#musicPlayer:active {
  transform: scale(0.95);
}

.floating__navi {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 80px);
  height: 32px;
  border-radius: 8px;
  background: rgba($black, 0.2);
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 16px;
  justify-content: space-around;
  border: 1px solid rgba($white, 1);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  scale: 0.75;
  opacity: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  animation: fadeInAnm 0.6s ease-in-out 4.5s forwards 1;
  @media (min-width: 768px) {
    animation: fadeInAnmPC 0.6s ease-in-out 4.5s forwards 1;
  }
  @media (min-width: 768px) {
  }
  @include pc_hover {
    cursor: pointer;
    &:hover {
      background: rgba($black, 0.4);
      scale: 1.1;
      .plus__icon {
        animation: rotate3d 3s ease-in-out 0s infinite;
      }
    }
  }
  @media (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
  }
  &.is__open {
    backdrop-filter: blur(16px) brightness(0.6);
    height: auto;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .navi__arrow {
    width: 10px;
    margin-right: 12px;
    filter: $whiteFilter;
    img {
      width: 100%;
    }
  }
  .message__area {
    width: calc(100% - 40px);
    p {
      font-size: 10px;
      color: $white;
      line-height: 1;
      white-space: nowrap;
      font-weight: 500;
      @include smp {
        transform: translateY(2px);
      }
    }
  }
  .plus__icon {
    width: 8px;
    height: 2px;
    background: $blue;
    position: absolute;
    bottom: 14px;
    right: 16px;
    filter: $whiteFilter;
    transform-style: preserve-3d;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 8px;
      background: $blue;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .menu__wrap {
    display: none;
  }
  &.is__open {
    padding: 16px 16px 48px;

    .menu__wrap {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 6px;
      width: 100%;
      .button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba($black, 0.4);
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgba($white, 0.1);
        transition: all 0.3s ease-in-out;
        &:hover {
          background: rgba($black, 0.6);
          border-color: rgba($white, 0.3);
        }
        p {
          color: $white;
          font-size: 14px;
          line-height: 1;
          font-weight: 600;
          overflow: hidden;
          span {
            display: inline-block;
          }
        }
        figure {
          filter: $whiteFilter;
          rotate: 90deg;
          width: 10px;
          overflow: hidden;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: rotate3d(1, 1, 1, 270deg);
          }
          img {
            animation: arrowAnm 2s ease-in-out 0s infinite;
          }
        }
      }
      .text__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          background: $white;
          bottom: 0;
          left: 0;
          z-index: 1;
          transition: all 0.3s ease-in-out;
        }
        @include pc_hover {
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: $white;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
        p {
          color: $white;
          font-size: 12px;
          line-height: 1;
          font-weight: 600;
          overflow: hidden;
          span {
            display: inline-block;
          }
        }
        figure {
          filter: $whiteFilter;
          rotate: 90deg;
          width: 10px;
          overflow: hidden;
          img {
            animation: arrowAnm 2s ease-in-out 0s infinite;
          }
        }
      }
      .detail__wrap {
        display: flex;
        width: 100%;
        margin-top: 24px;
        flex-wrap: wrap;
        gap: 16px;
        .label__text {
          width: calc(50% - 8px);
          font-size: 10px;
          color: rgba(255, 255, 255, 0.4);
          line-height: 1.4;
          font-weight: 500;
          scale: 1;
        }
      }
    }
  }
}
#time {
  scale: (0.8);
  transform-origin: left;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.4;
  font-weight: 500;

  width: 100%;
}
@keyframes textWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.img__name {
  font-size: 10px;
  z-index: 11;
  position: fixed;
  bottom: 64px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-out,
    visibility 0s linear 0s;
  color: rgba($white, 0.7);
  scale: 0.7;
  transform-origin: left bottom;
  animation: clipIn 0.6s ease-in-out 4.5s forwards 1;
  clip-path: inset(0 100% 0 0);
  @media (min-width: 768px) {
    left: 30px;
    bottom: 30px;
    animation: clipIn 0.6s ease-in-out 4.5s forwards 1;
  }
}

.scroll-infinity {
  position: fixed;
  top: 50%;
  width: calc(100% - 40px);
  left: 20px;
  transform: translateY(-50%);
  z-index: 99;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  overflow: hidden;

  @media (min-width: 768px) {
    left: 30px;
    width: calc(100% - 60px);
  }

  &__wrap {
    display: flex;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: infinity-scroll-left 30s linear infinite;
    gap: 20px;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__item {
    p {
      color: $white;
      font-size: 10px;
      line-height: 1.3;
      font-weight: 500;
      letter-spacing: 0;
      scale: 0.8;
      width: fit-content;

      @media (min-width: 768px) {
        scale: 1;
      }
    }
  }
}

@keyframes infinity-scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.idle-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $white;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 10;
  width: 100%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.idle-message.visible {
  opacity: 1;
}

.message-text {
  font-size: 11.5vw;
  letter-spacing: -0.02em;
  line-height: 0.85;
}

.current-time {
  font-size: 8vw;

  line-height: 1.5;
  letter-spacing: -0.02em;
  font-family: 'Doto', sans-serif;
  font-optical-sizing: auto;

  animation: fontWeight 4s ease-in-out forwards infinite;
  @include smp {
    font-size: 14vw;
    transform: translateY(5vh);
  }
}
