---
import ThreeScene from '../components/ThreeScene.astro';
---

<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index, follow" />

		<!-- ページタイトル -->
		<title>UNI OFFICIAL SITE</title>
		<meta
			name="description"
			content='FUN IS COOL SELECT STORE OPEN FOR 25SS COMING SOON…'
		/>
		<meta property="og:title" content="UNI OFFICIAL SITE" />
		<meta
			property="og:description"
			content='FUN IS COOL SELECT STORE OPEN FOR 25SS COMING SOON…'
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://uni.liberate-group.com/" />
		<link rel="canonical" href="https://uni.liberate-group.com/" />
		<meta
			property="og:image"
			content="https://uni.liberate-group.com/og-image.jpg"
		/>
		<meta property="og:locale" content="ja_JP" />
		<link
			rel="icon"
			href="https://uni.liberate-group.com/favicon.png"
			type="image/x-icon"
		/>
		<link
			rel="apple-touch-icon"
			href="https://uni.liberate-group.com/favicon.png"
		/>

		<!--fonts-->
		<link rel="stylesheet" href="https://use.typekit.net/jmn2rrz.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<ThreeScene />
	</body>
</html>
